
#contact-modal, #contact-modal :is(header, form, label, input, textarea) { width: 100%; }

#contact-modal
{
    justify-content: center;

    position: fixed;
    top     : 0;
    left    : 0;
    z-index : 3;

    overflow: hidden auto;

    height: 100vh;
    height: 100lvh;

    padding-block: 90px;

    box-sizing: border-box;

    background-color: rgba(255, 255, 255, .4);
}

#contact-modal.hidden
{
    visibility: hidden;

    pointer-events: none;
}

#contact-modal :is(.modal, header, form) { display: flex; }

#contact-modal :is(.modal, header) { justify-content: space-between; }

#contact-modal :is(.modal, form) { flex-direction: column; }

#contact-modal :is(.modal, input, textarea) { border-radius: 5px; }

#contact-modal .modal
{
    align-items: center;

    width: 669px;

    margin-inline: auto;
    padding      : 35px;

    background-color: #DB8876;
}

#contact-modal :is(header, form) { align-items: flex-start; }

#contact-modal header img { cursor: pointer; }

#contact-title, #contact-modal textarea { margin-bottom: 1.4rem; }

#contact-title
{
    font-size  : 64px;
    font-weight: 400;
}

#contact-modal :is(.close, input, textarea) { border: none; }

#contact-modal .close { background: none; }

#contact-modal form
{
    color    : #312E2E;
    font-size: 36px;
}

#contact-modal form input
{
    height: 68px;

    margin-bottom: .4rem;
}

#contact-modal form textarea { min-height: 170px; }