@import url('./photographHeader.css');
@import url('./photographFilter.css');
@import url('./photographGallery.css');
@import url('./photographInfos.css');
@import url('./lightbox.css');
@import url('./modal.css');

.logo>img { height: 100%; }

.contact_button
{
    min-width: 170px;
    height   : 70px;

    padding: 11px;

    background-color: #901C1C;

    border       : none;
    border-radius: 5px;

    color      : white;
    font-size  : 20px;
    font-weight: bold;

    cursor: pointer;
}