.photograph-filter, #options :is(.option>span, .arrow) { display: flex; }

.photograph-filter
{
    gap: 1.4rem;

    font-size  : 20px;
    font-weight: 700;
}

#dropdown, #options { border-radius: 5px; }

#dropdown, #options .option { cursor: pointer; }

#dropdown, #options .option:focus { z-index: 1; }

#dropdown
{
    height    : 70px;
    max-height: 70px;

    padding: 0;

    background: none;

    border: none;

    font: inherit;
}

#dropdown:focus-visible { outline: solid 2px; }


#dropdown[aria-pressed="false"] .option[aria-selected="true"] { border-bottom-left-radius: 5px; }

#dropdown[aria-pressed="false"] .arrow { border-bottom-right-radius: 5px; }

#dropdown[aria-pressed="false"] .arrow div { transform: scaleY(1); }

#dropdown[aria-pressed="false"] .option[aria-selected="false"] { transform: scaleY(0); }

#options, #options .option>span, #options .arrow div::before { box-sizing: border-box; }

#options
{
    display              : grid;
    grid-template-columns: 1fr 35px;
    grid-template-rows   : 70px repeat(2, 59px);

    overflow: hidden;

    min-width: 174px;

    color: white;
}

#options .option[aria-selected="true"]
{
    grid-area: 1 / 1;

    pointer-events: none;
}

#options .option[aria-selected="true"]>span { border-top-color: transparent; }

#options :is(.option, .arrow) { background-color: #901C1C; }

#options :is(.option, .option>span) { padding-inline: 11px; }

#options :is(.option, .arrow, .arrow div) { transition-duration: .18s !important; }

#options .option
{
    grid-column: 1 / 3;

    list-style: none;

    transition: transform ease-in, background-color, border-radius;
}

#options :is(.option:hover, .option[aria-selected="false"]:focus) { background-color: #DB8876; }

#options :is(.option>span, .arrow) { align-items: center; }

#options .option>span
{
    width : 100%;
    height: 100%;

    border-top: solid 1px #FFFFFF;
}

#options .arrow
{
    grid-area: 1 / 2;

    transition-property: border-radius;
}

#options .arrow div
{
    transform: scaleY(-1);

    transition: transform ease-in;
}

#options .arrow div::before
{
    content: '';

    display: inline-block;

    transform-origin: top;
    transform       : rotate(-45deg);

    width : 13px;
    height: 13px;

    border-bottom: solid 4px #FFFFFF;
    border-left  : solid 4px #FFFFFF;
}