
.photograph-header
{
    display        : flex;
    justify-content: space-around;
    align-items    : center;

    height: 300px;

    margin-bottom: 1.8rem;

    background-color: #FAFAFA;
}

.photograph-header h1
{
    color      : #D3573C;
    font-size  : 64px;
    font-weight: 400;
}

.photograph-header .locality
{
    display: block;

    margin-bottom: .8rem;

    font-size: 24px;
}

.photograph-header .tagline
{
    color    : #525252;
    font-size: 18px;
}