body, h1, h2, p { margin: 0; }

html { overflow-x: hidden; }

body
{
    width: 100vw;

    padding-inline: 100px;

    box-sizing: border-box;

    font-family: "DM Sans", sans-serif;
}

body>header
{
    display        : flex;
    flex-direction : row;
    justify-content: space-between;
    align-items    : center;

    height: 90px;
}

body>header h1 { color: #901C1C; }

.logo { height: 50px; }

.logo>img { height: 100%; }

.portrait
{
    width : 200px;
    height: 200px;

    border-radius: 50%;

    object-position: center;
    object-fit     : cover;
}

.locality
{
    color      : #901C1C;
    font-weight: inherit;
}