body, h1, h2, p { margin: 0; }

html { overflow-x: hidden; }

body
{
    width: 100vw;

    font-family: "DM Sans", sans-serif;
}

#main { padding-inline: 100px; }

.portrait
{
    width : 200px;
    height: 200px;

    border-radius: 50%;

    object-position: center;
    object-fit     : cover;
}

.locality
{
    color      : #901C1C;
    font-weight: inherit;
}

header
{
    display        : flex;
    flex-direction : row;
    justify-content: space-between;
    align-items    : center;

    height: 90px;
}

header h1
{
    margin-right: 100px;

    color: #901C1C;
}

.logo
{
    height: 50px;

    margin-left: 100px;
}